<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AppServerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2978/WebServers/Appserver.asmx"
                binding="basicHttpBinding" bindingConfiguration="AppServerSoap"
                contract="ServiceReference1.AppServerSoap" name="AppServerSoap" />
        </client>
    </system.serviceModel>
</configuration>